<div class="row">
<div class="card col s6 offset-s3 grey lighten-1">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{picture}}">
    </div>
    <div class="card-content">
      <span class="card-title activator indigo-text text-accent-2">{{name}}<i class="material-icons right">more_vert</i></span>
      <p class="indigo-text text-accent-2">Click me!</p>
    </div>
    <div class="card-reveal grey lighten-2">
      <span class="card-title orange-text text-darken-2">Description:<i class="material-icons right">close</i></span>
      <h3 class="indigo-text text-accent-2">{{name}}</h3>
      <p>{{description}}</p>
    </div>
  </div>
</div>