<div class="review">

  <section class="reviews">
    <a href="/reviews/{{id}}"  class="has-text-black is-capitalized is-pulled-left"></a></p>
    <div>
     <h2>Created By: {{user.username}} </h2>
    </div>
    <div class="text">
     <a href="/api/reviews/{{id}}"> {{reviewMessages.length}}</a>
    </div>
  </section>

</div>